/* FOR INDEX.HTML (HOME)- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
.wrapper {
  width: 100%;
  max-width: 31.25rem;
  margin: 3rem auto;
  padding-bottom: 20px;
}

.label {
  font-size: 0.625rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: +1.3px;
  margin-bottom: 1rem;
}

.searchBar {
  width: 90%;
  margin-left: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#searchQueryInput {
  width: 100%;
  height: 2.8rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
  /*  box-shadow: 7px 7px #EDE9DD; */
  border: 1px solid #ede9dd;
  background: white;
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}

.recent {
  height: 250px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #fdf9ec;
}

/* Horizontal Scroll Code (Ruben)*/
.row-scroll {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
.card {
  /*float: left;*/
  border-radius: 20px;
  max-width: 90.333%;
  padding: 0.02rem;
  margin: 1rem;
  border: 0;
  flex-basis: 90.333%;
  flex-grow: 0;
  flex-shrink: 0;
  box-shadow: 7px 7px #ede9dd;
}

.card > img {
  margin-bottom: 0.75rem;
  width: 100%;
}

.card-text {
  font-size: 85%;
  padding: 0;
  margin: 0;
}

.card-body {
  height: 100px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 15px;
}

.card-title {
  font-size: 30px;
  padding: 0;
  margin: 0;
}

#price {
  font-size: 15px;
}

#cat {
  font-size: 20px;
  margin-top: 6px;
  margin-left: 7px;
  color: black;
  
}

.card2 {
  /*float: left;*/
  border-radius: 20px;
  max-width: 97.333%;
  padding: 0.02rem 0.02rem 0rem 0.02rem;
  margin: 1rem;
  border: 0;
  flex-basis: 40.333%;
  flex-grow: 0;
  flex-shrink: 0;
}

.card-body2 {
  height: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 15px;
}

.categories {
  height: 120px;
  width: 100%;
  border-radius: 20px;
  background-color: #fdf9ec;
  box-shadow: 7px 7px #ede9dd;
}

.clickable:not([disabled]):active {
  transform: translate(2px, 2px);
  display: inline;
}

/* FOR SELL.HTML - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
/* https://bootstrapious.com/p/bootstrap-image-upload */

#upload {
  opacity: 0;
}

#upload-label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.image-area {
  border: 2px dashed rgba(255, 255, 255, 0.7);
  padding: 1rem;
  position: relative;
}

.image-area::before {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  z-index: 1;
}

.image-area img {
  z-index: 2;
  position: relative;
}

/* https://www.w3schools.com/howto/howto_css_image_center.asp */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-select {
  outline: none;
}

/* FOR MONICA.HTML - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

#heart {
  color: grey;
  font-size: 30px;
}

#heart.red {
  color: red;
}

.FixedHeightContainer {
  height: 510px;
  width: 100%;
  padding: 3px;
  background: #dde7c7;
  border-radius: 25px 25px 0px 0px;
}

.Content {
  height: 300px;
  overflow: auto;
  background: #dde7c7;
  text-align: center;
  font-size: 25px;
}

/* FOR NAVBAR - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
.navb {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 90px;
  width: 100%;
}

/* FOR MONICA.HTML - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
#upload {
  opacity: 0;
}

#upload-label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.image-area {
  border: 2px dashed rgba(255, 255, 255, 0.7);
  padding: 1rem;
  position: relative;
}

.image-area::before {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  z-index: 1;
}

.image-area img {
  z-index: 2;
  position: relative;
}

/* https://www.w3schools.com/howto/howto_css_image_center.asp */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 40px;
}

.form-select {
  outline: none;
}

#heart {
  color: grey;
  font-size: 30px;
}

#heart.red {
  color: red;
}

.FixedHeightContainer {
  height: 700px;
  width: 373px;
  padding: 3px;
  background: #dde7c7;
  border-radius: 25px 25px 0px 0px;
  box-shadow: 15px 0px 15px 0px lightgrey;
}

.Content {
  height: 400px;
  overflow: auto;
  background: #dde7c7;
  text-align: center;
  font-size: 25px;
}

.clickable:not([disabled]):active {
  transform: translate(2px, 2px);
  display: inline;
}

/* FOR MONICA.HTML - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/


/*for hearts in browse pages*/
      .ht {
        margin-top: -7vw;
        position: relative;
        top: 10vw;
        left: 3vw;

      }

      .ht {
        color: grey;
        font-size: 30px;
        float: right;
      }

      .ht.pink {
        color: #ecccff;
        float: right;
      }
/*-----------------------------------------*/
